* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    display: flex;
}
.grid {
    width  : 200px;
    height : 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 174, 0);
}

.grid div {
    height :20px;
    width  :20px;
}
.tetromino {
    background-color: tomato;
}
.mini-grid {
    margin-left : 50px;
    width  : 80px ;
    height : 80px ;
    display: flex;
    flex-wrap :wrap ;
    background-color: rgb(255, 174, 0); 
}

.mini-grid div {
    height :20px;
    width  :20px;
}